{% extends "core/base.html" %}
{% load static %}
{% block title %}
Returns & Refund | Swann UAE
{% endblock %}
{% block content %}
      <main class="main py-5">
         <div class="container">
            <div class="col-12">
               <div class="privacy-policy">
                  <div class="col-12 mb-5">
                     <h1 class="product-title main-head">
                       Refund and Return Policy
                     </h1>
                     <h4>Last updated: 18 March 2026</h4>
                     <p class="pt-3">
                        At Swann, customer satisfaction is important to us.

                     </p>
                     <h4 class="pt-3">Returns</h4>
                     <p>
                        Items may be returned within 7 days of delivery if they meet the following conditions:
                     </p>
                     <ul>
                        <li>
                           The item is unused and in original condition
                        </li>
                     </ul>
                     <ul>
                        <li>
                           Original packaging and tags are intact
                        </li>
                     </ul>
                     <ul>
                       <li>Any damage, missing item, or incorrect product must be reported within 24 hours of delivery.</li>
                     </ul>
                     <ul>
                        <li>
                           The item was not purchased as a final sale item
                        </li>
                     </ul>
                     <ul>
                       <li>A clear and uninterrupted unboxing video is required for any return, replacement, or damage claim. The video must show the sealed package, shipping label, and the product inside.</li>
                     </ul>
                     <p>To request a return or refund, customers must contact our support team with order details.</p>
                     <h4 class="pt-3">Non-Returnable Items</h4>
                     <p>
                     Returns may not be accepted for:
                     </p>
                     <ul>
                        <li>
                           Used or damaged items caused by the customer
                        </li>
                     </ul>
                     <ul>
                        <li>
                           Items without original packaging or tags
                        </li>
                     </ul>
                     <ul>
                       <li>Items marked as Final Sale, Discounted Products, or Hygiene-sensitive products are not eligible for return or refund unless damaged during delivery.</li>
                     </ul>
                     <h4 class="pt-3">Refunds</h4>
                     <ul>
                        <li>
                          Once the returned item is received and inspected, we will notify you regarding the approval or rejection of your refund.
                          If approved, refunds will be processed to the original payment method within 5–7 business days.
                        </li>
                    </ul>
                     <ul>
                        <li>Shipping fees are non-refundable unless the return is due to an incorrect or defective item.</li>
                     </ul>
                    <ul>
                      <li> Customers may be responsible for return shipping costs unless the return is due to a defective, damaged, or incorrect item.</li>
                    </ul>
                     <h4 class="pt-3">Cash on Delivery (COD) Policy</h4>
                     <ul>
                       <li>Cash on Delivery: We offer Cash on Delivery for selected locations. Customers must make the full payment in cash at the time of delivery.
</li>
<li>Orders placed using Cash on Delivery may be verified by our team before dispatch. We reserve the right to cancel COD orders that cannot be verified.</li>
<li>If a customer refuses to accept a confirmed COD order at the time of delivery without a valid reason, we reserve the right to restrict future Cash on Delivery orders from that customer.</li>
<li>COD Availability: Cash on Delivery may not be available for certain products, locations, or high-value orders.</li>
<li>COD Confirmation: Our team may contact customers via phone or WhatsApp to confirm COD orders before shipping.</li>
                     </ul>


                     <h4 class="pt-3">Contact</h4>
                     <ul>
                        <li>For any questions regarding our policies or orders, please contact:
                          <a href="mailto:support@swannbyswapna.com"> support@swannbyswapna.com</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </main>
{% endblock %}
