{% load static %}
<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
      <link
         href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
         rel="stylesheet"
      />
      <link
         rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
      />
      <link
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
         rel="stylesheet"
         integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
         crossorigin="anonymous"
      />
      <link rel="stylesheet" href="{% static 'css/style.css' %}" />
      <title>Swann</title>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
         <div class="container">
            <a class="navbar-brand" href="index.html">
               <img
                  src="{% static 'images/logo.png' %}"
                  alt="Logo"
                  class="img-fluid logo-image"
               />
            </a>
            <div
               class="d-flex align-items-center nav-right ms-auto order-lg-3 nav-icons"
            >
               <a href="#" class="search d-inline-flex me-lg-4 me-3"
                  ><i class="bi bi-search"></i
               ></a>
               <a href="#" class="search d-inline-flex me-lg-4 me-3">
                  <i class="bi bi-instagram"></i>
               </a>
               <div class="d-inline-flex position-relative me-lg-4 me-3">
                  <a href="cart.html" class="cart"><i class="bi bi-bag"></i></a>
                  <span
                     class="d-flex align-items-center justify-content-center notification"
                     >0</span
                  >
               </div>
            </div>
            <button
               class="navbar-toggler order-lg-2"
               type="button"
               data-bs-toggle="collapse"
               data-bs-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent"
               aria-expanded="false"
               aria-label="Toggle navigation"
            >
               <span class="navbar-toggler-icon"
                  ><i class="bi bi-bar-chart"></i
               ></span>
            </button>
            <div
               class="collapse navbar-collapse order-lg-1"
               id="navbarSupportedContent"
            >
               <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                     <a
                        class="nav-link active"
                        aria-current="page"
                        href="index.html"
                        >Home</a
                     >
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">EID COLLECTION</a>
                  </li>
                  <li class="nav-item dropdown">
                     <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                     >
                        Categories
                     </a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                           <a class="dropdown-item" href="#">Category One</a>
                        </li>
                        <li>
                           <a class="dropdown-item" href="#">Category Two</a>
                        </li>
                        <li>
                           <a class="dropdown-item" href="#">Category Three</a>
                        </li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Contact Us</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>

      <main class="main py-5">
         <div class="container">
            <div class="col-12">
               <div class="privacy-policy">
                  <div class="col-12 mb-5">
                     <h1 class="product-title main-head">
                       Refund and Return Policy
                     </h1>
                     <h4>Last updated: 10 March 2026</h4>
                     <p class="pt-3">
                        At Swann, customer satisfaction is important to us.
                        
                     </p>
                     <h4 class="pt-3">Returns</h4>
                     <p>
                        Items may be returned within 7 days of delivery if they meet the following conditions:
                     </p>
                     <ul>
                        <li>
                           The item is unused and in original condition
                        </li>
                     </ul>
                     <ul>
                        <li>
                           Original packaging and tags are intact
                        </li>
                     </ul>
                     <ul>
                        <li>
                           The item was not purchased as a final sale item
                        </li>
                     </ul>
                     <h4 class="pt-3">Non-Returnable Items</h4>
                     <p>
                     Returns may not be accepted for:
                     </p>
                     <ul>
                        <li>
                           Used or damaged items caused by the customer
                        </li>
                     </ul>
                     <ul>
                        <li>
                           Items without original packaging or tags
                        </li>
                     </ul>
                     <h4 class="pt-3">Refunds</h4>
                     <ul>
                        <li>
                           Once the returned item is received and inspected, we will notify you regarding the approval of the refund.
                        </li>
                     </ul>
                     <ul>
                        <li>
                           If approved, refunds will be issued to the original payment method within a reasonable processing time.
                        </li>
                     </ul>
                     <ul>
                        <li>Shipping fees are non-refundable unless the return is due to an incorrect or defective item.</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <footer class="footer pt-lg-5">
         <div class="container footer-bottom-line">
            <div class="row footer-inner">
               <div class="col-lg-4 pe-lg-5">
                  <div class="footer-about pt-lg-5 text-center">
                     <div class="footer-logo">
                        <img
                           src="{% static 'images/logo.png' %}"
                           alt="Logo"
                           class="footerlogo img-fluid"
                        />
                     </div>
                     <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur dui ante, molestie vitae nisi eu, dictum
                        interdum mi. Aenean congue porta posuere. Phasellus
                        rutrum non lorem ut faucibus. Mauris vel lacinia nibh.
                     </p>
                  </div>
               </div>
               <div class="col-lg-3 col-6">
                  <div class="footer-menu pt-5">
                     <h5 class="mb-3">Quick Links</h5>
                     <ul class="list-unstyled">
                        <li>
                           <span
                              ><i class="bi bi-chevron-double-right"></i></span
                           ><a href="index.html">Home</a>
                        </li>
                        <li>
                           <span
                              ><i class="bi bi-chevron-double-right"></i></span
                           ><a href="services.html">EID COLLECTION</a>
                        </li>
                        <li>
                           <span
                              ><i class="bi bi-chevron-double-right"></i></span
                           ><a href="career.html">Categories</a>
                        </li>
                        <li>
                           <span
                              ><i class="bi bi-chevron-double-right"></i></span
                           ><a href="contactus.html">Contact Us</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-2 col-6">
                  <div class="footer-menu pt-5">
                     <h5 class="mb-3">Products</h5>
                     <ul class="list-unstyled">
                        <li>
                           <span
                              ><i class="bi bi-chevron-double-right"></i></span
                           ><a href="index.html">Home</a>
                        </li>
                        <li>
                           <span
                              ><i class="bi bi-chevron-double-right"></i></span
                           ><a href="aboutus.html">About Us</a>
                        </li>
                        <li>
                           <span
                              ><i class="bi bi-chevron-double-right"></i></span
                           ><a href="services.html">EID COLLECTION</a>
                        </li>
                        <li>
                           <span
                              ><i class="bi bi-chevron-double-right"></i></span
                           ><a href="career.html">Categories</a>
                        </li>
                        <li>
                           <span
                              ><i class="bi bi-chevron-double-right"></i></span
                           ><a href="contactus.html">Contact Us</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3">
                  <div class="footer-menu social-list pt-5">
                     <h5 class="mb-3">Follow Us</h5>
                     <span class="flex-center"
                        ><a href="#"><i class="bi bi-facebook"></i></a
                     ></span>
                     <span class="flex-center"
                        ><a href="#"><i class="bi bi-instagram"></i></a
                     ></span>
                     <span class="flex-center"
                        ><a href="#"><i class="bi bi-twitter-x"></i></a
                     ></span>
                     <span class="flex-center"
                        ><a href="#"><i class="bi bi-linkedin"></i></a
                     ></span>
                     <span class="flex-center"
                        ><a href="#"><i class="bi bi-youtube"></i></a
                     ></span>
                  </div>
               </div>
            </div>
            <div class="container py-5">
               <div class="row">
                  <div class="col-lg-4">
                     <div class="footer-box">
                        <div class="d-flex flex-column align-items-center">
                           <div
                              class="icon-box mb-3 d-flex justify-content-center align-items-center"
                           >
                              <i class="bi bi-truck"></i>
                           </div>
                           <h5>Fast Delivery</h5>
                           <p class="text-muted mb-0">
                              Deliver Products On Time
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="footer-box">
                        <div class="d-flex flex-column align-items-center">
                           <div
                              class="icon-box mb-3 d-flex justify-content-center align-items-center"
                           >
                              <i class="bi bi-headset"></i>
                           </div>
                           <h5>24/7 Support</h5>
                           <p class="text-muted mb-0">Get help anytime</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="footer-box">
                        <div class="d-flex flex-column align-items-center">
                           <div
                              class="icon-box mb-3 d-flex justify-content-center align-items-center"
                           >
                              <i class="bi bi-patch-check-fill"></i>
                           </div>
                           <h5>100% Authentic</h5>
                           <p class="text-muted mb-0">
                              Guaranteed genuine products
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="col-12">
               <div class="copy-right py-3">
                  <small>© Copyrights reserved, 2026</small>
               </div>
            </div>
         </div>
         <div class="whatsapp">
            <img
               src="{% static 'images/icons/whatsapp.svg' %}"
               alt="whatsapp"
               class="img-fluid"
            />
         </div>
      </footer>
      <script
         src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
         crossorigin="anonymous"
      ></script>
      <script src="{% static 'js/main.js' %}"></script>
      <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
   </body>
</html>
