{% load static %}
<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>{% block title %}Swann | Premium Women's Fashion Store in UAE{% endblock %}</title>

      {% block meta %}
      <meta name="description" content="Swann UAE offers elegant women's fashion blending modern trends with timeless style. Discover curated dresses and outfits designed for comfort, confidence, and everyday sophistication.">
      {% endblock %}
      {% block og %}
      <meta property="og:title" content="Swann | Elegant Women's Fashion UAE">
      <meta property="og:description" content="Shop premium women's fashion at Swann UAE.">
      <meta property="og:type" content="website">
      <meta property="og:image" content="/static/images/logo.png">
      <meta property="og:url" content="{{ request.build_absolute_uri }}">
      {% endblock %}

      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
      <link
         href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
         rel="stylesheet"
      />
      <link
         rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
      />
      <link
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
         rel="stylesheet"
         integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
         crossorigin="anonymous"
      />
      <link rel="stylesheet" href="{% static 'css/style.css' %}" />
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
         <div class="container">
            <a class="navbar-brand" href="{% url 'product_list' %}">
               <img
                  src="{% static 'images/logo.png' %}" loading="lazy"
                  alt="Logo"
                  class="img-fluid logo-image"
               />
            </a>
            <div
               class="d-flex align-items-center nav-right ms-auto order-lg-3 nav-icons"
            >
            <div class="search-wrapper position-relative me-lg-4 me-3">

            <a href="#" id="searchToggle" class="search d-inline-flex">
               <i class="bi bi-search"></i>
            </a>

            <div id="searchBox" class="search-box d-none">

               <input
                  type="text"
                  id="searchInput"
                  class="form-control form-control-sm"
                  placeholder="Search products..."
                  autocomplete="off"
               >

               <div id="searchSuggestions" class="search-suggestions"></div>

            </div>

            </div>
               <a href="https://www.instagram.com/swannbyswapna" class="search d-inline-flex me-lg-4 me-3">
                  <i class="bi bi-instagram"></i>
               </a>
               <div class="d-inline-flex position-relative me-lg-4 me-3">
                  <a href="{% url 'cart_detail' %}" class="cart"><i class="bi bi-bag"></i></a>
                  <span
                     class="d-flex align-items-center justify-content-center notification"
                  >
                  {{ cart_count|default:0 }}
                  </span>
               </div>
            </div>
            <button
               class="navbar-toggler order-lg-2"
               type="button"
               data-bs-toggle="collapse"
               data-bs-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent"
               aria-expanded="false"
               aria-label="Toggle navigation"
            >
               <span class="navbar-toggler-icon"
                  ><i class="bi bi-bar-chart"></i
               ></span>
            </button>
            <div
               class="collapse navbar-collapse order-lg-1"
               id="navbarSupportedContent"
            >
               <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                     <a
                        class="nav-link active"
                        aria-current="page"
                        href="{% url 'product_list' %}"
                        >Home</a
                     >
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'product_list' %}?tag=eid">VISHU COLLECTION</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <main>
        {% block content %}
        {% endblock %}
      </main>
      <footer class="footer pt-lg-5">
         <div class="container footer-bottom-line">
            <div class="row footer-inner">
               <div class="col-lg-4 pe-lg-5">
                  <div class="footer-about pt-lg-5 text-center">
                     <div class="footer-logo">
                        <img
                           src="{% static 'images/logo.png' %}" loading="lazy"
                           alt="Logo"
                           class="footerlogo img-fluid"
                        />
                     </div>
                     <p>
                     Swann by Swapna is an online boutique offering elegant women's fashion inspired by modern and traditional styles. Discover curated collections designed for comfort, style, and everyday elegance. Shop exclusive designs and seasonal collections crafted for women who love timeless fashion.
                     </p>
                  </div>
               </div>
               <div class="col-lg-3 col-6">
                  <div class="footer-menu pt-5">
                     <h5 class="mb-3">Quick Links</h5>
                     <ul class="list-unstyled">
   <li>
      <span><i class="bi bi-chevron-double-right"></i></span>
      <a href="{% url 'product_list' %}">Shop All</a>
   </li>

   <li>
      <span><i class="bi bi-chevron-double-right"></i></span>
      <a href="{% url 'product_list' %}?tag=eid">>Vishu Collection</a>
   </li>

   <li>
      <span><i class="bi bi-chevron-double-right"></i></span>
      <a href="{% url 'contact' %}">Contact Us</a>
   </li>
</ul>
                  </div>
               </div>
               <div class="col-lg-2 col-6">
                  <div class="footer-menu pt-5">
                     <h5 class="mb-3">Information</h5>
                     <ul class="list-unstyled">
                        <li>
                           <span
                              ><i class="bi bi-chevron-double-right"></i></span
                           ><a href="/privacy-policy/">Privacy Policy</a>
                        </li>
                        <li>
                           <span
                              ><i class="bi bi-chevron-double-right"></i></span
                           ><a href="/terms-and-conditions/">Terms & Conditions</a>
                        </li>
                        <li>
                           <span
                              ><i class="bi bi-chevron-double-right"></i></span
                           ><a href="/refund-policy/">Refund Policy</a>
                        </li>
                        <li>
                           <span
                              ><i class="bi bi-chevron-double-right"></i></span
                           ><a href="/shipping-policy/">Shipping Policy</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3">
                  <div class="footer-menu social-list pt-5">
                     <h5 class="mb-3">Follow Swann</h5>
                     <!-- <span class="flex-center"
                        ><a href="#"><i class="bi bi-facebook"></i></a
                     ></span> -->
                     <span class="flex-center"
                        ><a href="https://www.instagram.com/swannbyswapna"><i class="bi bi-instagram"></i></a
                     ></span>
                     <!-- <span class="flex-center"
                        ><a href="#"><i class="bi bi-twitter-x"></i></a
                     ></span>
                     <span class="flex-center"
                        ><a href="#"><i class="bi bi-linkedin"></i></a
                     ></span>
                     <span class="flex-center"
                        ><a href="#"><i class="bi bi-youtube"></i></a
                     ></span> -->
                  </div>
               </div>
            </div>
            <div class="container py-5">
               <div class="row">
                  <div class="col-lg-4">
                     <div class="footer-box">
                        <div class="d-flex flex-column align-items-center">
                           <div
                              class="icon-box mb-3 d-flex justify-content-center align-items-center"
                           >
                              <i class="bi bi-truck"></i>
                           </div>
                           <h5>Fast Delivery</h5>
                           <p class="text-muted mb-0">
                              Deliver Products On Time
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="footer-box">
                        <div class="d-flex flex-column align-items-center">
                           <div
                              class="icon-box mb-3 d-flex justify-content-center align-items-center"
                           >
                              <i class="bi bi-headset"></i>
                           </div>
                           <h5>24/7 Support</h5>
                           <p class="text-muted mb-0">Get help anytime</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="footer-box">
                        <div class="d-flex flex-column align-items-center">
                           <div
                              class="icon-box mb-3 d-flex justify-content-center align-items-center"
                           >
                              <i class="bi bi-patch-check-fill"></i>
                           </div>
                           <h5>100% Authentic</h5>
                           <p class="text-muted mb-0">
                              Guaranteed genuine products
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="col-12">
               <div class="copy-right py-3">
                  <small>© 2026 Swann by Swapna. All rights reserved.</small>
               </div>
            </div>
         </div>
         <div class="whatsapp">
           <a href="https://wa.me/971555432188" target="_blank">
            <img
               loading="lazy" src="{% static 'images/icons/whatsapp.svg' %}"
               alt="whatsapp"
               class="img-fluid"
            />
            </a>
         </div>
      </footer>
      <script
         src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
         crossorigin="anonymous"
      ></script>
      <script src="{% static 'js/main.js' %}"></script>
      <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
   </body>
</html>
