{% extends "core/base.html" %}
{% load static %}
{% block title %}
Home | Swann UAE
{% endblock %}
{% block content %}
      <div
         id="carouselExampleCaptions"
         class="carousel slide"
         data-bs-ride="carousel"
      >
         <div class="carousel-indicators">
            <button
               type="button"
               data-bs-target="#carouselExampleCaptions"
               data-bs-slide-to="0"
               class="active"
               aria-current="true"
               aria-label="Slide 1"
            ></button>
            <button
               type="button"
               data-bs-target="#carouselExampleCaptions"
               data-bs-slide-to="1"
               aria-label="Slide 2"
            ></button>
            <button
               type="button"
               data-bs-target="#carouselExampleCaptions"
               data-bs-slide-to="2"
               aria-label="Slide 3"
            ></button>
            <button
               type="button"
               data-bs-target="#carouselExampleCaptions"
               data-bs-slide-to="3"
               aria-label="Slide 4"
            ></button>
            <button
               type="button"
               data-bs-target="#carouselExampleCaptions"
               data-bs-slide-to="4"
               aria-label="Slide 5"
            ></button>
         </div>
<div class="carousel-inner">
{% for banner in banners %}
<div class="carousel-item {% if forloop.first %}active{% endif %}">
    <img src="{{ banner.image.url }}" class="d-block w-100" />

    <div class="carousel-caption">
        <div class="caption-text">
            <h1>{{ banner.title }}</h1>
            <p>{{ banner.subtitle }}</p>

            {% if banner.button_link %}
            <a href="{{ banner.button_link }}"
               class="btn btn-dark px-lg-5 text-white shadow mt-lg-4">
               {{ banner.button_text }}
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
</div>
         <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev"
         >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
         </button>
         <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next"
         >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
         </button>
      </div>
      <main>
                 <div class="container py-5 featured-products card-carousel">
            <!-- ---------product image change row------------- -->
            <div class="col-12 text-center mb-5">
               <h1 class="product-title main-head">Shop Based on Occassion</h1>
               <div class="head-border-line"></div>
            </div>

            <div class="row mt-5">
               <div class="owl-carousel product-slider">
                  <div class="product-card shadow-sm">
                     <a href="product-details.html">
                        <div class="image-wrapper">
                           <img
                              src="{% static 'images/model-2.jpeg' %}"
                              class="product-img default-img img-fluid"
                           />
                        </div>
                        <div class="product-info p-3">
                           <p class="text-ellipsis text-uppercase">
                              Prayer Ready- modest
                           </p>
                           <!-- <div class="pricing d-flex flex-column">
                              <span class="new-price"
                                 ><i class="bi bi-currency-rupee"></i
                                 >799.00</span
                              >
                              <span class="old-price"
                                 ><i class="bi bi-currency-rupee"></i
                                 >999.00</span
                              >
                           </div> -->
                        </div>
                     </a>
                  </div>
                  <div class="product-card shadow-sm">
                     <a href="product-details.html">
                        <div class="image-wrapper">
                           <img
                              src="{% static 'images/model-8.jpeg' %}"
                              class="product-img default-img img-fluid"
                           />
                        </div>
                        <div class="product-info p-3">
                           <p class="text-ellipsis text-uppercase">
                              Visiting Family- Elegant
                           </p>
                        </div>
                     </a>
                  </div>
                  <div class="product-card shadow-sm">
                     <a href="product-details.html">
                        <div class="image-wrapper">
                           <img
                              src="{% static 'images/model7.jpeg' %}"
                              class="product-img default-img img-fluid"
                           />
                        </div>
                        <div class="product-info p-3">
                           <p class="text-ellipsis text-uppercase">
                              Evening Gathering- Dressy
                           </p>
                        </div>
                     </a>
                  </div>
                  <div class="product-card shadow-sm">
                     <a href="product-details.html">
                        <div class="image-wrapper">
                           <img
                              src="images/model-1.jpeg"
                              class="product-img default-img img-fluid"
                           />
                        </div>
                        <div class="product-info p-3">
                           <p class="text-ellipsis text-uppercase">
                              Prayer Ready- modest
                           </p>
                        </div>
                     </a>
                  </div>
                  <div class="product-card shadow-sm">
                     <a href="product-details.html">
                        <div class="image-wrapper">
                           <img
                              src="images/product-1.jpeg"
                              class="product-img default-img img-fluid"
                           />
                        </div>
                        <div class="product-info p-3">
                           <p class="text-ellipsis">
                              Evening Gathering- Dressy
                           </p>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-12 text-center">
                  <button type="button" class="btn theme-bg text-white mt-5">
                     Explore All
                  </button>
               </div>
            </div>
         </div>
         <div class="container py-5 featured-products card-carousel">
            <!-- ---------product image change row------------- -->
         </div>
         <div class="container shop-collections py-lg-5">
            <div class="col-12 text-center mb-5">
               <h1 class="product-title main-head">Vishu Specials</h1>
               <div class="head-border-line"></div>
            </div>
            <div class="row g-4">
{% for item in collections %}
<div class="col-lg-4">
    <div class="product-collections">
        <div class="product-card shadow-sm">
            <div class="image-wrapper">

                {% if item.discount_label %}
                <div class="tag-card new shadow-sm">
                    {{ item.discount_label }}
                </div>
                {% endif %}

                {% if item.product.primary_image %}
                <img src="{{ item.product.primary_image.image.url }}" class="img-fluid" />
                {% endif %}

                <div class="tag-bottom p-3 pt-0 text-start">
                    <div class="d-flex justify-content-between">
                        <p class="mb-0 pro-name">{{ item.product.title }}</p>

                        <p class="mb-0">
                            AED {{ item.product.final_price }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="card-bottom-caption p-2 text-center">
                <h4 class="mb-0">
                    {{ item.subtitle }}
                </h4>
            </div>
        </div>
    </div>
</div>
{% endfor %}
      <div class="marquee-slide theme-bg p-2">
         <div class="marquee-content">
             {% if announcement %}
                 {{ announcement.text }}
             {% endif %}
         </div>
      </div>
            </div>
         </div>
         <section class="categories py-5 bg-light">
            <div class="container">
               <div class="col-12 text-center mb-5">
                  <h1 class="product-title main-head">Categories</h1>
                  <div class="head-border-line"></div>
               </div>
               <div class="row g-4">
{% for category in categories %}
<div class="col-lg-3">
    <div class="product-card">
        <div class="image-wrapper">

            {% if category.image %}
            <img src="{{ category.image.url }}"
                 class="product-img img-fluid" />
            {% endif %}

            <div class="icon-group">
                <p class="mb-0">{{ category.name }}</p>
                <a href="{% url 'product_list_by_category' category.slug %}"
                   class="btn btn-dark">
                   Explore More
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
               </div>
            </div>
         </section>
      </main>
{% endblock %}
