{% extends "core/base.html" %}
{% load static %}
{% load cloudinary %}
{% block title %}
Shop Women's Fashion Online | Swann UAE
{% endblock %}
{% block content %}
      <div
         id="carouselExampleCaptions"
         class="carousel slide"
         data-bs-ride="carousel"
      >
         <div class="carousel-indicators">
            <button
               type="button"
               data-bs-target="#carouselExampleCaptions"
               data-bs-slide-to="0"
               class="active"
               aria-current="true"
               aria-label="Slide 1"
            ></button>
            <button
               type="button"
               data-bs-target="#carouselExampleCaptions"
               data-bs-slide-to="1"
               aria-label="Slide 2"
            ></button>
            <button
               type="button"
               data-bs-target="#carouselExampleCaptions"
               data-bs-slide-to="2"
               aria-label="Slide 3"
            ></button>
            <button
               type="button"
               data-bs-target="#carouselExampleCaptions"
               data-bs-slide-to="3"
               aria-label="Slide 4"
            ></button>
            <button
               type="button"
               data-bs-target="#carouselExampleCaptions"
               data-bs-slide-to="4"
               aria-label="Slide 5"
            ></button>
         </div>
<div class="carousel-inner">
   <div class="carousel-item active">
      <img src="{% static 'images/banner.jpeg' %}" class="d-block w-100" loading="lazy" />

         <div class="carousel-caption">
            <div class="caption-text">
               <h3>Wear Confidence. Wear Swann.</h3>
               <p>Elegant pieces crafted to celebrate your everyday moments.</p>

               <a href="{% url 'product_list' %}"
                  class="btn hero-btn px-lg-5 text-white shadow mt-lg-4">
                  Discover More
               </a>
        </div>
    </div>
</div>
</div>
         <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev"
         >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
         </button>
         <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next"
         >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
         </button>
      </div>

<!--       <section class="inner-banner">
         <div
            class="inner-header"
            style="background-image: url('{% static "images/banner.jpeg" %}')"
         >
            <div class="carousel-caption">
                 <div class="caption-text">
                     <h3>Wear Confidence. Wear Swann.</h3>
                     <p>Elegant pieces crafted to celebrate your everyday moments.</p>
                     <a href="{% url 'product_list' %}"
                        class="btn btn-dark px-lg-5 text-white shadow mt-lg-4">
                        Discover More
                     </a>
                 </div>
             </div>
         </div>
      </section> -->
      <div class="marquee-slide theme-bg p-3">
         <div class="marquee-content">
            DELIVERY ACROSS UAE WITHIN 7 DAYS
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            DELIVERY ACROSS UAE WITHIN 7 DAYS            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            DELIVERY ACROSS UAE WITHIN 7 DAYS
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            DELIVERY ACROSS UAE WITHIN 7 DAYS
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            DELIVERY ACROSS UAE WITHIN 7 DAYS
         </div>
      </div>  
      <main>
         <div></div>
            <div class="container shop-collections py-lg-5">
            <div class="col-12 text-center mb-5">
               <h1 class="product-title main-head">Selling Fast-Limited Stocks</h1>
               <div class="head-border-line"></div>
            </div>
            <div class="row g-4 mt-5" id="limitedStockWrapper">
                  {% for item in collections %}
                  {% with product=item.product %}
                  <div class="col-lg-3 col-6 product-item {% if forloop.counter > 8 %}hidden-product{% endif %}">
                     <div class="product-card shadow-sm">
                        <a href="{% url 'product_detail' product.category.slug product.slug %}">
                           <div class="image-wrapper">
                              {% with product.primary_image as primary_image %}
                                 {% if primary_image %}
                                    <img src="{{ product.image_url }}" class="product-img img-fluid" loading="lazy" />
                                 {% else %}
                                    <img
                                       src="{% static 'images/product-placeholder.jpg' %}"
                                       class="product-img default-img img-fluid" loading="lazy"
                                       alt="{{ product.title }}"
                                    />
                                 {% endif %}
                              {% endwith %}

                              <!-- TOP badges -->
                              
                                    {% with variant=product.variants.first %}
   {% if variant and variant.stock_qty > 0 and variant.stock_qty <= 5 %}
      <div class="tag-card new shadow-sm">
         Only {{ variant.stock_qty }} left
      </div>
   {% endif %}
{% endwith %}
                                    
                              <!-- BOTTOM badges -->
<!--                               <div class="tag-bottom p-3 pt-0 text-start">
                                
                                       <span class="popular-tag instagram">
                                          <i class="bi bi-instagram"></i>
                                          Popular on Instagram
                                       </span>
                                    
                                       <span class="popular-tag swann">
                                          <i class="bi bi-heart-fill"></i>
                                          Loved on swann
                                       </span>
                                 
                              </div> -->
                           </div>

                           <div class="product-info p-3">
                              <p class="text-ellipsis">{{ product.title|truncatechars:25 }}</p>

                              <div class="pricing d-flex flex-column">
                                 <span class="new-price">
                                    <i>AED:</i>  {{ product.final_price }}
                                 </span>

                                 {% if product.discount_price %}
                                 <span class="old-price">
                                    <i>AED:</i>  {{ product.price }}
                                 </span>
                                 {% endif %}
                              </div>

                              <button class="btn add-to-cart-btn mt-3">
                                 View Product
                              </button>
                           </div>

                        </a>
                     </div>
                  </div>
{% endwith %}
{% empty %}
  <div class="col-12 text-center py-5">
    <p class="text-muted mb-0">No products available.</p>
  </div>
{% endfor %}

               </div>
         </div>
                        <div class="col-12 text-center">
               </div>
               
                  <div class="container py-5">
               <div class="row">
                  <div class="col-lg-4">
                     <div class="footer-box">
                        <div class="d-flex flex-column align-items-center">
                           <div
                              class="icon-box mb-3 d-flex justify-content-center align-items-center"
                           >
                              <i class="bi bi-truck"></i>
                           </div>
                           <h5>Fast Delivery</h5>
                           <p class="text-muted mb-0">
                              Deliver Products On Time
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="footer-box">
                        <div class="d-flex flex-column align-items-center">
                           <div
                              class="icon-box mb-3 d-flex justify-content-center align-items-center"
                           >
                              <i class="bi bi-headset"></i>
                           </div>
                           <h5>Quick Support</h5>
                           <p class="text-muted mb-0">Get help anytime</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="footer-box">
                        <div class="d-flex flex-column align-items-center">
                           <div
                              class="icon-box mb-3 d-flex justify-content-center align-items-center"
                           >
                              <i class="bi bi-patch-check-fill"></i>
                           </div>
                           <h5>Trusted By Customers</h5>
                           <p class="text-muted mb-0">
                              500+ happy customers
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

         <div class="container-fluid px-0 py-5 featured-products vishu-theme">
            <div class="col-12 text-center mb-5">
               <h1 class="product-title main-head">Swann Exclusive</h1>
               <div class="head-border-line"></div>
            </div>            <div class="container">
               <div class="row">
                  <div class="col-lg-12 mt-3">
                     <div class="pro-desc-tab price-under-tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                           <li class="nav-item" role="presentation">
                              <button
                                 class="nav-link active"
                                 id="f-tab1"
                                 data-bs-toggle="tab"
                                 data-bs-target="#tab1"
                                 type="button"
                                 role="tab"
                                 aria-controls="home"
                                 aria-selected="true"
                              >
                                 New Arrivals
                              </button>
                           </li>
                           <li class="nav-item" role="presentation">
                              <button
                                 class="nav-link"
                                 id="f-tab2"
                                 data-bs-toggle="tab"
                                 data-bs-target="#tab2"
                                 type="button"
                                 role="tab"
                                 aria-controls="profile"
                                 aria-selected="false"
                              >
                                 (Combo)Ready to wear
                              </button>
                           </li>
                           <li class="nav-item" role="presentation">
                              <button
                                 class="nav-link"
                                 id="f-tab3"
                                 data-bs-toggle="tab"
                                 data-bs-target="#tab3"
                                 type="button"
                                 role="tab"
                                 aria-controls="contact"
                                 aria-selected="false"
                              >
                                 Offers & Discounts
                              </button>
                           </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                           <div
                              class="tab-pane fade show active"
                              id="tab1"
                              role="tabpanel"
                              aria-labelledby="f-tab1"
                           >
                              <div class="p-3">
                                 <div class="row g-3 mt-5">
                                     {% for product in new_arrivals %}
                                         <div class="col-lg-3">
                                             <div class="product-card shadow-sm">

                                                 <a href="{% url 'product_detail' product.category.slug product.slug %}">
                                                     
                                                     <div class="image-wrapper">
                                                         {% with product.images.first as img %}
                                                             {% if img %}
                                                                 {% cloudinary img.image.public_id width=400 height=400 crop="fill" quality="auto" fetch_format="auto" class="product-img default-img img-fluid" %}
                                                             {% endif %}
                                                         {% endwith %}
                                                         <div class="price-card shadow-sm">
                                                            <div class="pricing d-flex flex-column">
                                                               <span class="new-price">AED {{ product.final_price }}</span>
                                                               <span class="old-price">AED {{ product.price }}</span>
                                                            </div>
                                                         </div>
                                                     </div>

                                                     <div class="product-info p-3">
                                                      <div class="d-flex justify-content-between align-items-start mb-2">
                                                      </div>                                                         
                                                      <p class="text-ellipsis">{{ product.title }}</p>
                                                     </div>

                                                 </a>
                                             </div>
                                         </div>
                                     {% empty %}
                                         <p>No products available</p>
                                     {% endfor %}
                                 </div>
                              </div>
                           </div>
                           <div
                              class="tab-pane fade"
                              id="tab2"
                              role="tabpanel"
                              aria-labelledby="f-tab2"
                           >
                              <div class="row g-3 mt-5">
                                     {% for product in combo %}
                                         <div class="col-lg-3">
                                             <div class="product-card shadow-sm">

                                                 <a href="{% url 'product_detail' product.category.slug product.slug %}">
                                                     
                                                     <div class="image-wrapper">
                                                         {% with product.images.first as img %}
                                                             {% if img %}
                                                                 {% cloudinary img.image.public_id width=400 height=400 crop="fill" quality="auto" fetch_format="auto" class="product-img default-img img-fluid" %}
                                                             {% endif %}
                                                         {% endwith %}
                                                         <div class="price-card shadow-sm">
                                                            <div class="pricing d-flex flex-column">
                                                               <span class="new-price">AED {{ product.final_price }}</span>
                                                               <span class="old-price">AED {{ product.price }}</span>
                                                            </div>
                                                         </div>
                                                     </div>

                                                     <div class="product-info p-3">       
                                                      <p class="text-ellipsis">{{ product.title }}</p>
                                                     </div>

                                                 </a>
                                             </div>
                                         </div>
                                     {% empty %}
                                         <p>No products available</p>
                                     {% endfor %}
                              </div>
                           </div>
                           <div
                              class="tab-pane fade"
                              id="tab3"
                              role="tabpanel"
                              aria-labelledby="f-tab3"
                           >
                              <div class="row g-3 mt-5">
                                     {% for product in offers %}
                                         <div class="col-lg-3">
                                             <div class="product-card shadow-sm">

                                                 <a href="{% url 'product_detail' product.category.slug product.slug %}">
                                                     
                                                     <div class="image-wrapper">
                                                         {% with product.images.first as img %}
                                                             {% if img %}
                                                                 {% cloudinary img.image.public_id width=400 height=400 crop="fill" quality="auto" fetch_format="auto" class="product-img default-img img-fluid" %}
                                                             {% endif %}
                                                         {% endwith %}
                                                         <div class="price-card shadow-sm">
                                                            <div class="pricing d-flex flex-column">
                                                               <span class="new-price">AED {{ product.final_price }}</span>
                                                               <span class="old-price">AED {{ product.price }}</span>
                                                            </div>
                                                         </div>
                                                     </div>

                                                     <div class="product-info p-3">
                                                      <div class="d-flex justify-content-between align-items-start mb-2">
                                                      </div>                                                         
                                                      <p class="text-ellipsis">{{ product.title }}</p>
                                                     </div>

                                                 </a>
                                             </div>
                                         </div>
                                     {% empty %}
                                         <p>No products available</p>
                                     {% endfor %}

                                          </div>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <section class="categories py-5 bg-light">
            <div class="container">
               <div class="col-12 text-center mb-5">
                  <h1 class="product-title main-head">Categories</h1>
                  <div class="head-border-line"></div>
               </div>
               <div class="row g-4">
{% for category in categories %}
{% if category.image and category.image.public_id %}
<div class="col-lg-3">
    <div class="product-card">
        <div class="image-wrapper">

            {% if category.image_url %}
               <img src="{{ category.image_url }}"
                    class="product-img img-fluid"
                    loading="lazy"
                    alt="{{ category.name }}">
               {% endif %}

            <div class="icon-group">
                <p class="mb-0">{{ category.name }}</p>
                <a href="{% url 'product_list_by_category' category.slug %}"
                   class="btn btn-dark">
                   Explore More
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
               </div>
            </div>
         </section>
<!--       <div class="container">
         <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

               {% if page_obj.has_previous %}
               <li class="page-item">
                  <a class="page-link"
                     href="?page={{ page_obj.previous_page_number }}{% if current_category %}&category={{ current_category }}{% endif %}{% if current_sort %}&sort={{ current_sort }}{% endif %}">
                     <small>Previous</small>
                  </a>
               </li>
               {% endif %}

               {% for num in page_obj.paginator.page_range %}
               <li class="page-item">
                  <a class="page-link {% if page_obj.number == num %}active{% endif %}"
                     href="?page={{ num }}{% if current_category %}&category={{ current_category }}{% endif %}{% if current_sort %}&sort={{ current_sort }}{% endif %}">
                     {{ num }}
                  </a>
               </li>
               {% endfor %}

               {% if page_obj.has_next %}
               <li class="page-item">
                  <a class="page-link"
                     href="?page={{ page_obj.next_page_number }}{% if current_category %}&category={{ current_category }}{% endif %}{% if current_sort %}&sort={{ current_sort }}{% endif %}">
                     <small>Next</small>
                  </a>
               </li>
               {% endif %}

            </ul>
         </nav>
      </div> -->
   </main>
   {% endblock %}