{% extends "core/base.html" %}
{% load static %}
{% load cloudinary %}
{% block title %}
Home | Swann UAE
{% endblock %}
{% block content %}
      <div
         id="carouselExampleCaptions"
         class="carousel slide"
         data-bs-ride="carousel"
      >
         <div class="carousel-indicators">
            <button
               type="button"
               data-bs-target="#carouselExampleCaptions"
               data-bs-slide-to="0"
               class="active"
               aria-current="true"
               aria-label="Slide 1"
            ></button>
            <button
               type="button"
               data-bs-target="#carouselExampleCaptions"
               data-bs-slide-to="1"
               aria-label="Slide 2"
            ></button>
            <button
               type="button"
               data-bs-target="#carouselExampleCaptions"
               data-bs-slide-to="2"
               aria-label="Slide 3"
            ></button>
            <button
               type="button"
               data-bs-target="#carouselExampleCaptions"
               data-bs-slide-to="3"
               aria-label="Slide 4"
            ></button>
            <button
               type="button"
               data-bs-target="#carouselExampleCaptions"
               data-bs-slide-to="4"
               aria-label="Slide 5"
            ></button>
         </div>
<div class="carousel-inner">
{% for banner in banners %}
<div class="carousel-item {% if forloop.first %}active{% endif %}">
    <img src="{{ banner.image_url }}" class="d-block w-100" loading="lazy" />

    <div class="carousel-caption">
        <div class="caption-text">
            <h1>{{ banner.title }}</h1>
            <p>{{ banner.subtitle }}</p>

            {% if banner.button_link %}
            <a href="{{ banner.button_link }}"
               class="btn btn-dark px-lg-5 text-white shadow mt-lg-4">
               {{ banner.button_text }}
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
</div>
         <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev"
         >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
         </button>
         <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next"
         >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
         </button>
      </div>
            <div class="marquee-slide theme-bg p-2">
         <div class="marquee-content">
             {% if announcement %}
                 {{ announcement.text }}
             {% endif %}
         </div>
      </div>
      <main>
                          <div class="container py-5 featured-products card-carousel">
            <!-- ---------product image change row------------- -->
            <div class="col-12 text-center mb-5">
               <h1 class="product-title main-head">Shop Based on Occassion</h1>
               <div class="head-border-line"></div>
            </div>

            <div class="row mt-5">
               <div class="owl-carousel product-slider">
                  <div class="product-card shadow-sm">
                     <a href="product-details.html">
                        <div class="image-wrapper">
                           <img
                              src="{% static 'images/model-8.jpeg' %}"
                              class="product-img default-img img-fluid"
                           />
                        </div>
                        <div class="product-info p-3">
                           <p class="text-ellipsis text-uppercase">
                              combo- ready to wear set
                           </p>
                           <!-- <div class="pricing d-flex flex-column">
                              <span class="new-price"
                                 ><i class="bi bi-currency-rupee"></i
                                 >799.00</span
                              >
                              <span class="old-price"
                                 ><i class="bi bi-currency-rupee"></i
                                 >999.00</span
                              >
                           </div> -->
                        </div>
                     </a>
                  </div>
                  <div class="product-card shadow-sm">
                     <a href="product-details.html">
                        <div class="image-wrapper">
                           <img
                              src="{% static 'images/model-8.jpeg' %}"
                              class="product-img default-img img-fluid"
                           />
                        </div>
                        <div class="product-info p-3">
                           <p class="text-ellipsis text-uppercase">
                              Visiting Family- Elegant
                           </p>
                        </div>
                     </a>
                  </div>
                  <div class="product-card shadow-sm">
                     <a href="product-details.html">
                        <div class="image-wrapper">
                           <img
                              src="{% static 'images/model-8.jpeg' %}"
                              class="product-img default-img img-fluid"
                           />
                        </div>
                        <div class="product-info p-3">
                           <p class="text-ellipsis text-uppercase">
                              Evening Gathering- Dressy
                           </p>
                        </div>
                     </a>
                  </div>
                  <div class="product-card shadow-sm">
                     <a href="product-details.html">
                        <div class="image-wrapper">
                           <img
                              src="{% static 'images/product-3.jpg' %}"
                              class="product-img default-img img-fluid"
                           />
                        </div>
                        <div class="product-info p-3">
                           <p class="text-ellipsis text-uppercase">
                              Purely Traditional
                           </p>
                        </div>
                     </a>
                  </div>
                  <div class="product-card shadow-sm">
                     <a href="product-details.html">
                        <div class="image-wrapper">
                           <img
                              src="{% static 'images/model-8.jpeg' %}"
                              class="product-img default-img img-fluid"
                           />
                        </div>
                        <div class="product-info p-3">
                           <p class="text-ellipsis">
                              Under 100 AED
                           </p>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-12 text-center">
                  <button type="button" class="btn theme-bg text-white mt-5">
                     Explore All
                  </button>
               </div>
            </div>
         </div>
         <div class="container py-5 featured-products card-carousel">
            <!-- ---------product image change row------------- -->
         </div>
         <div class="container shop-collections py-lg-5">
            <div class="col-12 text-center mb-5">
               <h1 class="product-title main-head">Vishu Specials</h1>
               <div class="head-border-line"></div>
            </div>
            <div class="row g-4">
               <div class="row mt-5">
                  {% for item in collections %}
                  {% with product=item.product %}
                  <div class="col-lg-3 col-6">
                     <div class="product-card shadow-sm">
                        <a href="{% url 'product_detail' product.category.slug product.slug %}">
                           <div class="image-wrapper">
                              {% with product.primary_image as primary_image %}
                                 {% if primary_image %}
                                    <img src="{{ product.image_url }}" class="product-img img-fluid" loading="lazy" />
                                 {% else %}
                                    <img
                                       src="{% static 'images/product-placeholder.jpg' %}"
                                       class="product-img default-img img-fluid" loading="lazy"
                                       alt="{{ product.title }}"
                                    />
                                 {% endif %}
                              {% endwith %}

                              <!-- TOP badges -->
                              {% for tag in product.tags.all %}
                                 {% if tag.slug == "new" %}
                                    <div class="tag-card new shadow-sm">New</div>
                                 {% elif tag.slug == "trending" %}
                                    <div class="tag-card trending shadow-sm">Trending</div>
                                 {% endif %}
                              {% endfor %}

                              <!-- BOTTOM badges -->
                              <div class="tag-bottom p-3 pt-0 text-start">
                                 {% for tag in product.tags.all %}
                                    {% if tag.slug == "instagram-popular" %}
                                       <span class="popular-tag instagram">
                                          <i class="bi bi-instagram"></i>
                                          Popular on Instagram
                                       </span>
                                    {% elif tag.slug == "loved-on-swann" %}
                                       <span class="popular-tag swann">
                                          <i class="bi bi-heart-fill"></i>
                                          Loved on swann
                                       </span>
                                    {% endif %}
                                 {% endfor %}
                              </div>
                           </div>

                           <div class="product-info p-3">
                              <p class="text-ellipsis">{{ product.title|truncatechars:25 }}</p>

                              <div class="pricing d-flex flex-column">
                                 <span class="new-price">
                                    <i>AED:</i>  {{ product.final_price }}
                                 </span>

                                 {% if product.discount_price %}
                                 <span class="old-price">
                                    <i>AED:</i>  {{ product.price }}
                                 </span>
                                 {% endif %}
                              </div>

                              <button class="btn add-to-cart-btn mt-3">
                                 View Product
                              </button>
                           </div>

                        </a>
                     </div>
                  </div>
{% endwith %}
{% empty %}
  <div class="col-12 text-center py-5">
    <p class="text-muted mb-0">No products available.</p>
  </div>
{% endfor %}
               </div>

            </div>
         </div>
         <section class="categories py-5 bg-light">
            <div class="container">
               <div class="col-12 text-center mb-5">
                  <h1 class="product-title main-head">Categories</h1>
                  <div class="head-border-line"></div>
               </div>
               <div class="row g-4">
{% for category in categories %}
<div class="col-lg-3">
    <div class="product-card">
        <div class="image-wrapper">

            {% if category.image_url %}
            <img src="{{ category.image_url }}"
                 class="product-img img-fluid"
                 loading="lazy"
                 alt="{{ category.name }}">
            {% else %}
            <img src="{% static 'images/product-placeholder.jpg' %}"
                 class="product-img img-fluid" loading="lazy">
            {% endif %}

            <div class="icon-group">
                <p class="mb-0">{{ category.name }}</p>
                <a href="{% url 'product_list_by_category' category.slug %}"
                   class="btn btn-dark">
                   Explore More
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
               </div>
            </div>
         </section>
      </main>
{% endblock %}
