<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>

body{
font-family: Arial;
font-size:14px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th,td{
border:1px solid #ddd;
padding:8px;
}

th{
background:#f5f5f5;
}

.total{
font-weight:bold;
}

</style>
</head>
<body>

<img src="https://swann-store.onrender.com/static/images/logo.png" width="120">

<h2>Invoice</h2>

<p>
<strong>Invoice Number:</strong> {{ order.order_number }}<br>
<strong>Date:</strong> {{ order.created_at|date:"d M Y" }}
</p>

<hr>

<h3>Customer</h3>

<p>
{{ order.first_name }} {{ order.last_name }}<br>
{{ order.phone }}<br>
{{ order.email }}
</p>

<table>

<tr>
  <th>Product</th>
  <th>Size</th>
  <th>Qty</th>
  <th>Price</th>
  <th>Discount Price</th>
  <th>Total</th>
</tr>

{% for item in items %}

<tr>
<td>{{ item.product_title }}</td>
<td>{{ item.size }}</td>
<td>{{ item.quantity }}</td>
<td>AED {{ item.product.price }}</td>
<td>AED {{ item.price }}</td>
<td>AED {{ item.line_total }}</td>
</tr>

{% endfor %}

</table>

<br>

<table>

  <tr>
  <td>Subtotal (MRP)</td>
  <td>AED {{ order.subtotal }}</td>
  </tr>

  <tr>
  <td>Product Discount</td>
  <td> AED {{ order.product_discount }}</td>
  </tr>

  <tr>
  <td>Coupon Discount</td>
  <td> AED {{ order.coupon_discount }}</td>
  </tr>

  <tr>
  <td>Shipping</td>
  <td>AED {{ order.shipping_cost }}</td>
  </tr>

  <tr>
  <td>VAT (5%)</td>
  <td>AED {{ order.vat_amount }}</td>
  </tr>


<tr class="total">
<td>Total</td>
<td>AED {{ order.total }}</td>
</tr>

</table>
<br>

<h3>Payment Information</h3>

<table>

<tr>
<td><strong>Payment Method</strong></td>
<td>{{ order.payment_method|title }}</td>
</tr>

<tr>
<td><strong>Payment Status</strong></td>
<td>
{% if order.payment_status == "paid" %}
<strong style="color:green;">PAID</strong>
{% else %}
{{ order.payment_status|title }}
{% endif %}
</td>
</tr>

{% if order.transaction_id %}
<tr>
<td><strong>Transaction ID</strong></td>
<td>{{ order.transaction_id }}</td>
</tr>
{% endif %}

</table>

<br>

<p style="font-size:12px;color:#555;">
Thank you for shopping with Swann.<br>
Returns accepted within 7 days with unboxing video proof.<br>
For support: support@swannbyswapna.com
</p>

</body>
