{% extends "core/base.html" %}
{% load static %}
{% load cloudinary %}
{% block title %}
Shop Women's Fashion Online | Swann UAE
{% endblock %}
{% block content %}
      <section class="inner-banner">
         <div
            class="inner-header"
            style="background-image: url('{% static "images/vishu.png" %}')"
         ></div>
         <!-- <span class="banner-text">Happy Vishu🌼</span> -->
      </section>  
      <main> 
         <div class="container-fluid px-0 py-5 featured-products vishu-theme">
            <div class="col-12 text-center mb-5">
               <h1 class="product-title main-head">Find Your Vishu Look</h1>
               <div class="head-border-line"></div>
            </div>            <div class="container">
               <div class="row">
                  <div class="col-lg-12 mt-3">
                     <div class="pro-desc-tab price-under-tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                           <li class="nav-item" role="presentation">
                              <button
                                 class="nav-link active"
                                 id="f-tab1"
                                 data-bs-toggle="tab"
                                 data-bs-target="#tab1"
                                 type="button"
                                 role="tab"
                                 aria-controls="home"
                                 aria-selected="true"
                              >
                                 Under 110 AED
                              </button>
                           </li>
                           <li class="nav-item" role="presentation">
                              <button
                                 class="nav-link"
                                 id="f-tab2"
                                 data-bs-toggle="tab"
                                 data-bs-target="#tab2"
                                 type="button"
                                 role="tab"
                                 aria-controls="profile"
                                 aria-selected="false"
                              >
                                 (Combo)Ready to wear for Vishu
                              </button>
                           </li>
                           <li class="nav-item" role="presentation">
                              <button
                                 class="nav-link"
                                 id="f-tab3"
                                 data-bs-toggle="tab"
                                 data-bs-target="#tab3"
                                 type="button"
                                 role="tab"
                                 aria-controls="contact"
                                 aria-selected="false"
                              >
                                 Best selling for Vishu 2026
                              </button>
                           </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                           <div
                              class="tab-pane fade show active"
                              id="tab1"
                              role="tabpanel"
                              aria-labelledby="f-tab1"
                           >
                              <div class="p-3">
                                 <div class="row g-3 mt-5">
                                     {% for product in under_100 %}
                                         <div class="col-lg-3">
                                             <div class="product-card shadow-sm">

                                                 <a href="{% url 'product_detail' product.category.slug product.slug %}">
                                                     
                                                     <div class="image-wrapper">
                                                         {% with product.images.first as img %}
                                                             {% if img %}
                                                                 {% cloudinary img.image.public_id width=400 height=400 crop="fill" quality="auto" fetch_format="auto" class="product-img default-img img-fluid" %}
                                                             {% endif %}
                                                         {% endwith %}
                                                         <div class="price-card shadow-sm">
                                                            <div class="pricing d-flex flex-column">
                                                               <span class="new-price">AED {{ product.final_price }}</span>
                                                               <span class="old-price">AED {{ product.price }}</span>
                                                            </div>
                                                         </div>
                                                     </div>

                                                     <div class="product-info p-3">
                                                      <div class="d-flex justify-content-between align-items-start mb-2">
                                                      </div>                                                         
                                                      <p class="text-ellipsis">{{ product.title }}</p>
                                                     </div>

                                                 </a>
                                             </div>
                                         </div>
                                     {% empty %}
                                         <p>No products available</p>
                                     {% endfor %}
                                 </div>
                              </div>
                           </div>
                           <div
                              class="tab-pane fade"
                              id="tab2"
                              role="tabpanel"
                              aria-labelledby="f-tab2"
                           >
                              <div class="row g-3 mt-5">
                                     {% for product in combo %}
                                         <div class="col-lg-3">
                                             <div class="product-card shadow-sm">

                                                 <a href="{% url 'product_detail' product.category.slug product.slug %}">
                                                     
                                                     <div class="image-wrapper">
                                                         {% with product.images.first as img %}
                                                             {% if img %}
                                                                 {% cloudinary img.image.public_id width=400 height=400 crop="fill" quality="auto" fetch_format="auto" class="product-img default-img img-fluid" %}
                                                             {% endif %}
                                                         {% endwith %}
                                                         <div class="price-card shadow-sm">
                                                            <div class="pricing d-flex flex-column">
                                                               <span class="new-price">AED {{ product.final_price }}</span>
                                                               <span class="old-price">AED {{ product.price }}</span>
                                                            </div>
                                                         </div>
                                                     </div>

                                                     <div class="product-info p-3">       
                                                      <p class="text-ellipsis">{{ product.title }}</p>
                                                     </div>

                                                 </a>
                                             </div>
                                         </div>
                                     {% empty %}
                                         <p>No products available</p>
                                     {% endfor %}
                              </div>
                           </div>
                           <div
                              class="tab-pane fade"
                              id="tab3"
                              role="tabpanel"
                              aria-labelledby="f-tab3"
                           >
                              <div class="row g-3 mt-5">
                                     {% for product in best_selling %}
                                         <div class="col-lg-3">
                                             <div class="product-card shadow-sm">

                                                 <a href="{% url 'product_detail' product.category.slug product.slug %}">
                                                     
                                                     <div class="image-wrapper">
                                                         {% with product.images.first as img %}
                                                             {% if img %}
                                                                 {% cloudinary img.image.public_id width=400 height=400 crop="fill" quality="auto" fetch_format="auto" class="product-img default-img img-fluid" %}
                                                             {% endif %}
                                                         {% endwith %}
                                                         <div class="price-card shadow-sm">
                                                            <div class="pricing d-flex flex-column">
                                                               <span class="new-price">AED {{ product.final_price }}</span>
                                                               <span class="old-price">AED {{ product.price }}</span>
                                                            </div>
                                                         </div>
                                                     </div>

                                                     <div class="product-info p-3">
                                                      <div class="d-flex justify-content-between align-items-start mb-2">
                                                      </div>                                                         
                                                      <p class="text-ellipsis">{{ product.title }}</p>
                                                     </div>

                                                 </a>
                                             </div>
                                         </div>
                                     {% empty %}
                                         <p>No products available</p>
                                     {% endfor %}

                                          </div>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      <div class="container">
         <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

               {% if page_obj.has_previous %}
               <li class="page-item">
                  <a class="page-link"
                     href="?page={{ page_obj.previous_page_number }}{% if current_category %}&category={{ current_category }}{% endif %}{% if current_sort %}&sort={{ current_sort }}{% endif %}">
                     <small>Previous</small>
                  </a>
               </li>
               {% endif %}

               {% for num in page_obj.paginator.page_range %}
               <li class="page-item">
                  <a class="page-link {% if page_obj.number == num %}active{% endif %}"
                     href="?page={{ num }}{% if current_category %}&category={{ current_category }}{% endif %}{% if current_sort %}&sort={{ current_sort }}{% endif %}">
                     {{ num }}
                  </a>
               </li>
               {% endfor %}

               {% if page_obj.has_next %}
               <li class="page-item">
                  <a class="page-link"
                     href="?page={{ page_obj.next_page_number }}{% if current_category %}&category={{ current_category }}{% endif %}{% if current_sort %}&sort={{ current_sort }}{% endif %}">
                     <small>Next</small>
                  </a>
               </li>
               {% endif %}

            </ul>
         </nav>
      </div>
   </main>
   {% endblock %}